* {
  margin: 0;
  transition: all ease;
  text-decoration: none;
}
.hero__text {
  background-color: rgba(231, 231, 231, 0.349);
  border-radius: 20px;
  padding: 2%;
}

.App {
  text-align: center;
}
.texts {
  font-family: "Paytone One", sans-serif;
}

.Header__logo {
  font-size: 0.6rem;
  color: #000;
  line-height: 0.9;
}

.my__name {
  font-family: "Cutive Mono", monospace;
}

.nav {
  position: fixed;
  right: 4.1%;
  top: 3%;
  background: transparent;
}
.nav__links {
  list-style-type: none;
  margin: 0;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8%;
  padding-right: 7px;
  padding-bottom: 5px;
}
.nav__link {
  text-decoration: none;
  font-size: 1rem;
  color: #222;
}

.active:before {
  content: "";
  display: block;
  margin-right: 10px;
}
.active:after {
  content: "";
  display: block;
  background-color: black;
  height: 0.3rem;
  flex-grow: 2;
  margin-left: 45%;
}
.active {
  /*display: flex;*/
  color: #222;
  transition: 0.1s ease;
}

.link {
  text-decoration: none;
}
.heart {
  color: #0e6ba8;
}

@media (prefers-reduced-motion: no-preference) {
  span .heart {
    animation: heartbeat 0.3s infinite alternate;
  }
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #222;
  height: 10vh;
  padding: 0 4.5%;
}
.Main {
  height: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
  font-size: 1.1rem;
}
.hero__button {
  position: relative;
  margin-top: 15%;
  color: #18206f;
  background: #fff;
  padding: 15px;
  font-weight: bold;
  font-family: "Cutive Mono", monospace;
  border: none;
}
.hero__button:after {
  content: "";
  position: absolute;
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  height: calc(100% + 3px * 2);
  width: calc(100% + 3px * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.hero__button:hover {
  transition: 0.77s ease;
  color: #fff;
  background: #18206f;
  border: solid 3px #fff;
}
.App-link {
  color: #61dafb;
}

@keyframes heartbeat {
  to {
    transform: scale(1.5);
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 768px) {
  .Main {
    padding: 0 3%;
    height: 90vh;
    font-size: 1.6rem;
    color: #333232;
  }
  .hero__button {
    margin-top: 10%;
  }
  .change__button {
    color: #222;
  }
}
.change__wrapper {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20%;
  width: 50px;
  position: fixed;
  bottom: 1%;
  left: 4.5%;
  padding: 1%;
}

.change__button {
  height: 50px;
  cursor: pointer;
  font-size: 0.7rem;
  font-family: "Cutive Mono", monospace;
  color: #333232be;
}