@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Paytone One', sans-serif;
  background: #fff0f5;
}

light-mode {
  background: #fffffd, #ff3fef, #fff23f, #ff653f;
}



